{% load static %}
  
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">     
      <title>博客</title>
      
      <link rel="icon" type="image/png" href="{% static 'blog/img/fav.png' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'blog/vendor/slick/slick.min.css' %}"/>
      <link rel="stylesheet" type="text/css" href="{% static 'blog/vendor/slick/slick-theme.min.css' %}"/>
      
      <link href="{% static 'blog/vendor/icons/feather.css' %}" rel="stylesheet" type="text/css">
     
      <link href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      
      <link href="{% static 'blog/css/style.css' %}" rel="stylesheet">
       
   </head>
   <!-- Bootstrap core JavaScript -->
   <script src="{% static 'blog/vendor/jquery/jquery.min.js' %}"></script>
   <script src="{% static 'blog/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
   <!-- slick Slider JS-->
   <script type="text/javascript" src="{% static 'blog/vendor/slick/slick.min.js' %}"></script>
   <!-- Custom scripts for all pages-->
   <script src="{% static 'blog/js/osahan.js' %}"></script>
   <body>
      <!-- Navigation -->
    <nav class="navbar navbar-expand navbar-dark bg-dark osahan-nav-top p-0">
        <div class="container">
        <a class="navbar-brand mr-2" href="{% url 'blog' %}"><img src="{% static 'blog/img/logo.png' %}" alt=""> 
        </a>
        <!-- 搜索框 -->
        <form class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" class="form-control shadow-none border-0 search_input" placeholder="输入文章相关内容" aria-label="Search" aria-describedby="basic-addon2"> 
                
                <div class="input-group-append">
                    <button class="btn" type="button">
                    <i class="feather-search"></i>
                    </button>
                </div>
            </div>
        </form>


        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">个人后台网站</span></a>
            </li>
            
            <li class="nav-item dropdown mr-2">
                <a class="nav-link dropdown-toggle pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="feather-file-text mr-2"></i><span class="d-none d-lg-inline">账户</span>
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow-sm">
                    
                    <a class="dropdown-item" href="{% url 'register' %}"><i class="feather-user-plus mr-1"></i> 注册</a>
                    
                    <a class="dropdown-item" href="{% url 'login' %}"><i class="feather-log-in mr-1"></i> 登录</a>
                    <a class="dropdown-item" href="{% url 'logout' %}"><i class="feather-lock mr-1"></i> 退出</a>
                </div>
            </li>


            <li class="nav-item dropdown no-arrow mx-1 osahan-list-dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="feather-message-square"></i>
                    <!-- Counter - Alerts -->
                    <span class="badge badge-danger badge-counter">消息</span>
                </a>
                <!-- Dropdown - Alerts -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow-sm">
                    <h6 class="dropdown-header">
                    消息中心
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="{% static 'blog/img/p1.png' %}" alt="">
                            <!-- 用户头像 -->
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold overflow-hidden">
                            <div class="text-truncate">用户发你的消息</div>
                            <div class="small text-gray-500">定位</div>
                        </div>
                    </a>

                    <a class="dropdown-item text-center small text-gray-500" href="#">查看所有消息</a>
                </div>
            </li>
            
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow ml-1 osahan-profile-dropdown">
                <a class="nav-link dropdown-toggle pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="{% static 'blog/img/p13.png' %}">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow-sm">
                    {% if request.user.is_authenticated %}
                        <div class="p-3 d-flex align-items-center">
                            <div class="dropdown-list-image mr-3">

                                <img class="rounded-circle" src="/media/{{ request.user.avatar }}" alt="">
                                
                            
                                <!-- 头像 -->
                                <div class="status-indicator bg-success"></div>
                            </div>
                            <div class="font-weight-bold">
                                <div class="text-truncate"> 姓名</div>
                                <div class="small text-gray-500">{{ request.user.username }}</div>
                            </div>
                            
                        </div>
                    {% else %}
                        <div class="p-3 d-flex align-items-center">
                            <div class="dropdown-list-image mr-3">
                                                        
                                <img class="rounded-circle" src="{% static 'blog/img/user.png' %}" alt="">
                            
                                <!-- 头像 -->
                                <div class="status-indicator bg-success"></div>
                            </div>
                            <div class="font-weight-bold">
                                <div class="text-truncate"> 姓名</div>
                                <div class="small text-gray-500">未登录</div>
                            </div>
                            
                        </div>
                    {% endif %}




                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="profile.html"><i class="feather-user mr-1"></i> 个人信息</a>
                    <a class="dropdown-item" href="{% url 'logout' %}"><i class="feather-log-out mr-1"></i>退出</a>
                </div>
            </li>
        </ul>
        </div>
    </nav>
    {% block maim %}
    {% endblock maim %}



      
      
   </body>
</html>