{% extends 'blog/base.html' %}
{% load static %}
{% block maim %}
<div class="py-4">
   <div class="container">
      <div class="row">
         <!-- Main Content -->
         <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
           
            {% for article in page_article %}
               <div class="box shadow-sm border rounded bg-white mb-3 osahan-post">
                  <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
                     <div class="dropdown-list-image mr-3">
                           <img class="rounded-circle" src="/media/{{ article.user.avatar }}" alt="">                             
                        <div class="status-indicator bg-success"></div>
                     </div>
                     <div class="font-weight-bold overflow-hidden">
                        <div class="text-truncate"><span>标题：</span>{{ article.title }}</div>
                        
                        <div class="small text-gray-500">作者：  {{ article.user.username }}</div>
                        <span class="ml-auto small">{{ article.create_time }}</span>
                     </div>
                     
                  </div>

                  
                  <div class="p-2 border-bottom osahan-post-body">
                     <span>摘要：</span>
                     <p class="mb-5">{{ article.abstract }} <a href="#"></a></p>
                  </div>
                  <div class="p-3 border-bottom osahan-post-footer">
                     <a href="#" class="mr-3 text-secondary"><i class="feather-heart text-danger"></i> {{ article.up_count }}</a>
                     <a href="#" class="mr-3 text-secondary"><i class="feather-message-square"></i>{{ article.comment_count }}</a>
                     <a href="#" class="mr-3 text-secondary"><i class="feather-thumbs-down"></i> {{ article.down_count }}</a>
                     <a href="{% url 'blog' %}article_detail/{{ article.id }}" class="mr-3 text-secondary"><div class="detail_btn">查看详情</div></a>
                  </div>
                  
               </div>
            {% endfor %}

            <div class="pages">
               <ul>
                   
                  <li><a href='?page=1'>首页</a></li>
                   {# 如果上一页还有数据，那么让其可继续点击进入上一页 #}
                  
                  <li><a href="?page={{ apage|add:-1 }}" data-ey_fc35fdc="html" data-tmp="1">上一页</a>
                  </li>


                  {% for i in page_list %}  
                  
                  
                     {% if i >= redue_page and i <= improve_page %}
                     
         
                        {% if i != apage %}
                           <li><a href="?page={{ i }}" data-ey_fc35fdc="html" data-tmp="1">{{ i }}</a></li>
                        {% else %}
                           <li class="thisclass"><a href='?page={{ i }}'>{{ i }}</a></li>
                        {% endif %}
                     {% endif %}
                  {% endfor %}
           
                   {# 如果当前页还有下一页，那么让其可以点击进入下一页 #}
                   
                     <li><a href="?page={{ apage|add:1 }}" data-ey_fc35fdc="html" data-tmp="1">下一页</a></li>
                   
           
                   {# 跳转到尾页，让page参数直接等于总页数 #}
                  <li><a href='?page={{ num_pages }}'>尾页</a></li>
               </ul>
           </div>

         </main>


         <aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12"> 

         {% if request.user.is_authenticated %}
            
               <div class="box mb-3 shadow-sm border rounded bg-white profile-box text-center">
                  <div class="py-4 px-3 border-bottom">
                     <img src="/media/{{ request.user.avatar }}" class="img-fluid mt-2 rounded-circle" alt="Responsive image" style="border-radius: 50%;"> 
                        <h5 class="font-weight-bold text-dark mb-1 mt-4">{{ request.user.username }}</h5> 
                  </div>

                  <div class="d-flex">
                     <div class="col-6 border-right p-3">
                        <h6 class="font-weight-bold text-dark mb-1">{{ num_article }}</h6>
                        <p class="mb-0 text-black-50 small">文章</p>
                     </div>
                     <div class="col-6 p-3">
                        <h6 class="font-weight-bold text-dark mb-1">{{ request.user.by_upvote }}</h6>
                        <p class="mb-0 text-black-50 small">被点赞数</p>
                     </div>
                  </div>
                  <div class="overflow-hidden border-top">
                     <a class="font-weight-bold p-3 d-block" href="#"> 添加文章 </a>
                  </div>
               </div>
            
         {% else %}
            
            <div class="box mb-3 shadow-sm border rounded bg-white profile-box text-center">
               <div class="py-4 px-3 border-bottom">
                  <img src="{% static 'blog/img/p13.png' %}" class="img-fluid mt-2 rounded-circle" alt="Responsive image"> 
                     <h5 class="font-weight-bold text-dark mb-1 mt-4">未登录</h5> 
               </div>

               <div class="d-flex">
                  <div class="col-6 border-right p-3">
                     <h6 class="font-weight-bold text-dark mb-1">0</h6>
                     <p class="mb-0 text-black-50 small">文章</p>
                  </div>
                  <div class="col-6 p-3">
                     <h6 class="font-weight-bold text-dark mb-1">0</h6>
                     <p class="mb-0 text-black-50 small">被点赞数</p>
                  </div>
               </div>
               <div class="overflow-hidden border-top">
                  <a class="font-weight-bold p-3 d-block" href="{% url 'login' %}"> 添加文章 </a>
               </div>
            </div>
           
         {% endif %}

         <div class="box shadow-sm border rounded bg-white mb-3">
            <div class="box-title border-bottom p-3">
               <h6 class="m-0">热门文章</h6>
            </div>

            <div class="box-body p-3">
               {% for article in hot_article %}
                  <div class="d-flex align-items-center osahan-post-header mb-3 people-list">
                     <!-- <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="{% static 'blog/img/p8.png' %}" alt="">
                        <div class="status-indicator bg-success"></div>
                     </div> -->
                     
                     <div class="font-weight-bold mr-2">
                        <div class="text-truncate">{{ forloop.counter }}. {{ article.title }}</div>
                        <div class="small text-gray-500">点赞 ： {{ article.up_count }}
                           <a href="{% url 'blog' %}article_detail/{{ article.id }}" class="mr-3 text-secondary detail_arrow"><i class="feather-arrow-right"></i> </a>
                        </div>
                     </div>
                     
                     <!-- <span class="ml-auto"><button type="button" class="btn btn-light btn-sm"><i class="feather-user-plus"></i></button>
                     </span> -->
                  </div>
               {% endfor %}

            </div>


         </div>


         </aside>
         



         <aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">

            <div class="box mb-3 shadow-sm rounded bg-white view-box overflow-hidden ">
               <div class="box-title border-bottom p-3 py-4">
                  <h6 class="m-0">文章分类</h6>
               </div>
               {% for category in category_list %}
               
                  <ul style="list-style-type: none;">
                     <li class="category"><a href="{% url 'blog' %}category/{{ category.id }}">{{ category.name }}&nbsp;({{ category.c }})</a></li>
                  </ul>
               
               {% endfor %}
               <div class="overflow-hidden border-top" style="text-align: center;">
                  <a class="font-weight-bold p-3 d-block" href="{% url 'login' %}">  </a>
               </div>
               
            </div>

            <div class="box shadow-sm mb-3 rounded bg-white ads-box overflow-hidden">
               
               <div class="p-3 border-bottom">
                  <h6 class="m-0">文章标签</h6>
               </div>

               
               {% for tag in tag_list %}
               
                  <ul style="list-style-type: none; margin-right: -10px;">
                     <li class="category"><a href="{% url 'blog' %}tag/{{ tag.id }}">{{ tag.name }}&nbsp;({{ tag.c }})</a></li>
                  </ul>
               
               {% endfor %}
               <div class="overflow-hidden border-top" style="text-align: center;">
                  <a class="font-weight-bold p-3 d-block" href="{% url 'login' %}">  </a>
               </div>
                  
              
            </div>
            <div class="box shadow-sm border rounded bg-white mb-3">
               <div class="box-title border-bottom p-3">
                  <h6 class="m-0">Jobs
                  </h6>
               </div>
               <div class="box-body p-3">
                  <a href="job-profile.html">
                     <div class="shadow-sm border rounded bg-white job-item mb-3">
                        <div class="d-flex align-items-center p-3 job-item-header">
                           <div class="overflow-hidden mr-2">
                              <h6 class="font-weight-bold text-dark mb-0 text-truncate">Product Director</h6>
                              <div class="text-truncate text-primary">Spotify Inc.</div>
                              <div class="small text-gray-500"><i class="feather-map-pin"></i> India, Punjab</div>
                           </div>
                           <img class="img-fluid ml-auto" src="{% static 'blog/img/l3.png' %}" alt="">
                        </div>
                        <div class="d-flex align-items-center p-3 border-top border-bottom job-item-body">
                           <div class="overlap-rounded-circle">
                              <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="{% static 'blog/img/p9.png' %}" alt="" data-original-title="Sophia Lee">
                              <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="{% static 'blog/img/p10.png' %}" alt="" data-original-title="John Doe">
                              <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="{% static 'blog/img/p11.png' %}" alt="" data-original-title="Julia Cox">
                              <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="{% static 'blog/img/p12.png' %}" alt="" data-original-title="Robert Cook">
                           </div>
                           <span class="font-weight-bold text-muted">18 connections</span>
                        </div>
                        <div class="p-3 job-item-footer">
                           <small class="text-gray-500"><i class="feather-clock"></i> Posted 3 Days ago</small>
                        </div>
                     </div>
                  </a>
                  <a href="job-profile.html">
                     <div class="shadow-sm border rounded bg-white job-item">
                        <div class="d-flex align-items-center p-3 job-item-header">
                           <div class="overflow-hidden mr-2">
                              <h6 class="font-weight-bold text-dark mb-0 text-truncate">.NET Developer</h6>
                              <div class="text-truncate text-primary">Invision</div>
                              <div class="small text-gray-500"><i class="feather-map-pin"></i> London, UK
                              </div>
                           </div>
                           <img class="img-fluid ml-auto" src="{% static 'blog/img/l4.png' %}" alt="">
                        </div>
                        <div class="d-flex align-items-center p-3 border-top border-bottom job-item-body">
                           <div class="overlap-rounded-circle">
                              <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="{% static 'blog/img/p13.png' %}" alt="" data-original-title="Sophia Lee">
                              <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="{% static 'blog/img/p1.png' %}" alt="" data-original-title="John Doe">
                              <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="{% static 'blog/img/p3.png' %}" alt="" data-original-title="Robert Cook">
                           </div>
                           <span class="font-weight-bold text-muted">18 connections</span>
                        </div>
                        <div class="p-3 job-item-footer">
                           <small class="text-gray-500"><i class="feather-clock"></i> Posted 3 Days ago</small>
                        </div>
                     </div>
                  </a>
               </div>
            </div>
         </aside>
      </div>
   </div>
</div>
{% endblock maim %}